.box {
  border:1px solid #e6e6e6;
  margin-bottom:1rem;

  .title {
    display:block;
    padding: 1.25rem 1rem;
    line-height:1;
    position:relative;
    background-color:#f0f0f0;
    color:#888;
    font-family:$font-alt;
    font-size:.8rem;
    text-transform:uppercase;

    &::before {
      content:'+';
      position:absolute;
      right:1rem;
      top:50%;
      margin-top:-.7rem;
      font-size:1.4rem;
    }
  }

  .content {
    border-top:1px solid #e6e6e6;
    padding: 1rem;
    display:none;
    background-color:#fff;
  }

  &:hover {
    border-color:#c6c6c6;

    .title {
      color:#555;
    }

    .content {
      border-color:#c6c6c6;
    }
  }

  &.is-active {
    .title::before {
      content:'-';
    }
    .content {
      display:block;
    }
  }
}