#finn-top-bar {
  font-size:.8rem;
  padding:.8rem .5rem;
  font-family:$font-alt;
  background-color:$topbar-bg;

  .title {
    font-size:1.1rem;
    margin-left:.5rem;
  }

  ul { background-color:$topbar-bg; }
  .button {margin-bottom:0;}

  .user {
    padding:.4rem 1.5rem .4rem 1rem;
    img {border-radius:50%;}
  }
}

#finn-page-header {
  padding:1rem 0;

  h3 { margin-bottom:0; }

  .button { margin:0 0 0 .5rem; }
}