#finn-main-content {
  background-color:$main-content-bg;
  min-height:calc(100vh - 100px);

  .breadcrumbs {
    padding: .5rem 1rem;
    margin-bottom: 0;
    background-color:$breadcrumbs-bg;

    li {
      font-size:.8rem;
      text-transform:capitalize;
    }
  }
}