.off-canvas {
  background-color:$sidebar-bg;
  font-size:.8rem;
  font-family:$font-alt;

  a {color:#fff;}

  .title {
    color:$sidebar-logo-text;
    background-color:$sidebar-logo-bg;
    padding:1rem;
    font-size:1.1rem;

    .fa {
      display: inline-block;
      margin-right: .25rem;
    }

    .version {
      font-size:60%;
      color:#aaa;
    }
  }

  .logo {
    font-size:1.2rem;
    display:block;
  }

  .menu {
    border-bottom:1px solid #222;

    li > a { line-height:1.6; }

    a:hover, .active > a { color:$highlight-green; }

    .has-submenu {
      & > a {
        &:focus, &:hover { background-color:$sidebar-submenu-bg; }

        &::after { border-color:#fff transparent transparent; }
        &:hover::after { border-color:$highlight-green transparent transparent; }
      }

      &.active {
        background-color:$sidebar-submenu-bg;

        & > a {
          color:#fff;
          &:hover {color:$highlight-green}
        }
      }

      .submenu {
        margin-left:0;
        background-color:$sidebar-submenu-bg;

        & > li > a { padding-left:2rem; }
      }
    }
  }

  & > .menu {
    & > li > a {
      text-transform:uppercase;
    }
  }
}
.js-off-canvas-exit {
  background:rgba(0,0,0, .5);
}