body {
  background-color: $body-bg;
  font-family: $font-main;
}

.button {
  font-family: $font-alt;
  font-size: .85rem;
}

.button.success, .label.success {
  background-color: #4bb963;
}

a > .label {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
}

#finn-page-body {
  padding: 0 1rem;
}

.finnegan {
  .token-input-list {
    width: 100%;
    border: 1px solid #cacaca;
    margin-bottom: 1rem;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, .1);
    font-family: inherit;
    font-size: 1em;
    transition: box-shadow .5s, border-color .25s ease-in-out;

    input {
      border: none;
      box-shadow: none;
      margin: 0;
      height: 2rem;
    }
  }

  .token-input-token {
    font-weight: 400;
    background-color: #2199e8;
    color: #fff;
    display: inline-block;
  }

  li.token-input-token span {
    color: inherit;
    margin-left: .5rem;
  }

  div.token-input-dropdown {
    margin-top: -0.95rem;
    font-family: inherit !important;
    font-size: 1em !important;
    font-weight: 400;
  }
}