$font-main:	'Source Sans Pro',sans-serif;
$font-alt:	'Montserrat',sans-serif;

$highlight-green:	 #92cd18;

$body-bg: 		 	 #2f323a;
$topbar-bg: 		 #ffffff;
$sidebar-bg: 	  	 #2f323a;
$sidebar-submenu-bg: #25272E;
$sidebar-logo-bg:	 #111111;
$sidebar-logo-text:	 #ffffff;
$main-content-bg:	 #f5f5f5;
$breadcrumbs-bg: 	 #e8e8e8;