.finn-json-editor {
  .callout {
    border:none;
  }

  #json-editor-holder {
    font-size:.9rem;

    h3 > span {
      font-family:$font-alt;
      .button-group {margin-bottom:0;}
    }

    .panel {
      border-style: solid;
      border-width: 1px;
      border-color: #d9d9d9;
      margin-bottom: 1.25rem;
      padding: 1.25rem;
      background: #f2f2f2;
    }
  }
}

.finn-dumper {
  .sf-dump {
    padding:1rem;
  }
}