.finn-form {
  .finn-widget {
    legend {
      display: block;
      margin: 0;
      font-size: .875rem;
      line-height: 1.8;
      color: #0a0a0a;
    }

    &-file .thumbnail {
      max-width: 200px;
    }

    .tabs {
      .tabs-title {
        a {
          padding: 0.7rem 1.5rem;
          color: inherit;
        }

        &.is-active a {
          background-color: #555;
          color: $highlight-green;
        }
      }
    }
    .tabs-content {
      margin-bottom: 1rem;
    }
  }

  .cke {
    margin: 0 0 1rem;
  }

  .finn-removed {
    text-decoration: line-through;

    img {
      opacity: .7;
    }
  }

  #basic-form {
    background-color: #fff;
    padding: 1rem;
  }
}