.finn-list {
  #list-filters .token-input-input-token {
    display:inline-block;
  }

  .finn-items {
    width:100%;
    border-radius:5px;

    tr {
      border:1px solid #ddd;
    }

    thead {
      tr {
        background-color:#32333e;
        color:#aaa;
        border-color:#32333e;
        border-bottom:none;
      }

      a {
        color:#fff;
        &:hover{ color:$highlight-green; }
      }

    }

    .actions {
      a,button {
        margin:.1em 0 .1em .3em;
        color:#666;
        font-size:1.2rem;

        &:hover { color:#000; }
      }
    }

    .thumbnail {
      margin-bottom:0;
    }

    &.hover thead tr:hover {
      background-color:#32333e;
    }
  }

  .finn-sortable {
    .ui-sortable-handle {
      cursor:move;

      &:hover { background-color:#ffcd61; }
    }

    .ui-sortable-highlight {
      background-color:#89c9f3;
    }

    .ui-sortable-helper {
      border:1px solid #ccc;
      background-color:#fff;
      opacity:.7;
      width:100% !important;
    }
  }
}