.finn-show {
  #finn-page-body {
    padding-bottom:1rem;
  }

  .fields {
    background-color:#fff;
    padding:.5rem 1rem;

    .field {
      padding:1rem 0;
      border-bottom:1px solid #e6e6e6;

      .name { color:#888; }

      &:hover{
        background-color:#f8f8f8;
        .name { color:#666; }
      }
    }
    .field:last-child {
      border-bottom:none;
    }
  }

  .relation {
    .attach {
      margin-right:0;
    }

    table {
      width:100%;
    }

    .actions .button {
      margin:0 0 0 .5rem;
      border-radius:50%;
    }
  }
}